# System language
lang en_US.UTF-8

# System keyboard
keyboard us

# System timezone
timezone Europe/Paris --isUtc
firewall --service=ssh

# Root password
rootpw --plaintext packer

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=on --ipv6=auto
network  --hostname=localhost.localdomain

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable

# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel

# Disk partitioning information
part /boot --fstype="xfs" --size=1024
part pv.01 --size=1 --grow
volgroup vg0 pv.01
logvol / --fstype="xfs" --size=5120 --name=root --vgname=vg0 --grow
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=vg0

# System bootloader configuration
bootloader --location=mbr --boot-drive=sda

# Reboot after installation
reboot

# Package selection
%packages
@core
openssh-server
%end

%post
useradd packer
echo packer:packerpassword | chpasswd
systemctl enable sshd
echo "packer ALL=(ALL)  NOPASSWD:ALL" >> /etc/sudoers
echo "packer     ALL=(ALL)       ALL"     >> /etc/sudoers
%end
